<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.give.repository.StorePointMapper">

    <resultMap id="StorePointMap" type="com.project.give.entity.StorePoint">
        <id property="pointId" column="point_id"/>
        <result property="userId" column="user_id"/>
        <result property="orderId" column="order_id"/>
        <result property="pointAmount" column="point_amount"/>
        <result property="pointReason" column="point_reason"/>
        <result property="createDate" column="create_date"/>
    </resultMap>

    <!-- 포인트 적립 -->
    <insert id="insertPoint" parameterType="com.project.give.entity.StorePoint">
        INSERT INTO store_point_tb
        (user_id, order_id, point_amount, point_reason, create_date)
        VALUES (#{userId}, #{orderId}, #{pointAmount}, #{pointReason}, NOW());
    </insert>

    <!-- 사용자별 포인트 내역 조회 페이징 -->
    <select id="selectPointsByUserPaged" resultMap="StorePointMap">
        SELECT *
        FROM store_point_tb
        WHERE user_id = #{userId}
        ORDER BY create_date DESC
        LIMIT #{offset}, #{size};
    </select>

    <select id="countPointsByUser" resultType="int">
        SELECT COUNT(*) FROM store_point_tb WHERE user_id = #{userId};
    </select>

    <!--  관리자  -->
    <select id="selectAllPointsPaged" resultMap="StorePointMap">
        SELECT p.*, u.user_username, u.user_nickname
        FROM store_point_tb p
        LEFT JOIN user_tb u ON p.user_id = u.user_id
        ORDER BY p.create_date DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countAllPoints" resultType="int">
        SELECT COUNT(*) FROM store_point_tb
    </select>

</mapper>
