<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.give.repository.StoreReviewReportMapper">

    <insert id="insertReport" parameterType="com.project.give.entity.StoreReviewReport">
        INSERT INTO store_review_report_tb (comment_id, reporter_id, reason, create_date)
        VALUES (#{commentId}, #{reporterId}, #{reason}, NOW());
    </insert>

    <select id="checkAlreadyReported" resultType="int">
        SELECT COUNT(*)
        FROM store_review_report_tb
        WHERE reporter_id = #{reporterId} AND comment_id = #{commentId};
    </select>

    <select id="selectReviewReportsAdmin" resultType="com.project.give.entity.StoreReviewReport">
        SELECT * FROM store_review_report_tb
        ORDER BY create_date DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countReviewReportsAdmin" resultType="int">
        SELECT COUNT(*) FROM store_review_report_tb
    </select>

    <delete id="deleteReportsByCommentIdAdmin">
        DELETE FROM store_review_report_tb WHERE comment_id = #{commentId}
    </delete>

    <update id="updateReportResolvedAdmin">
        UPDATE store_review_report_tb
        SET resolved = 1
        WHERE report_id = #{reportId}
    </update>

</mapper>