<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.give.repository.StoreProductQnaMapper">

    <resultMap id="StoreProductQnaMap" type="com.project.give.entity.StoreProductQna">
        <id property="qnaId" column="qna_id"/>
        <result property="productId" column="product_id"/>
        <result property="userId" column="user_id"/>
        <result property="questionTitle" column="question_title"/>
        <result property="questionContent" column="question_content"/>
        <result property="secret" column="is_secret"/>
        <result property="answerContent" column="answer_content"/>
        <result property="answerDate" column="answer_date"/>
        <result property="createDate" column="create_date"/>

        <!-- 작성자 닉네임 / 아이디 추가 -->
        <result property="username" column="user_username"/>
        <result property="nickname" column="user_nickname"/>

        <result property="productName" column="product_name"/>
    </resultMap>

    <!-- 문의 등록 -->
    <insert id="insertQna" parameterType="com.project.give.entity.StoreProductQna" useGeneratedKeys="true" keyProperty="qnaId">
        INSERT INTO store_product_qna_tb
        (product_id, user_id, question_title, question_content, is_secret, create_date)
        VALUES (#{productId}, #{userId}, #{questionTitle}, #{questionContent}, #{secret}, now());
    </insert>

<!--    &lt;!&ndash;  상품별 문의 조회 (user_tb 조인) &ndash;&gt;-->
<!--    <select id="selectQnaByProduct" resultMap="StoreProductQnaMap">-->
<!--        SELECT-->
<!--            qna.*,-->
<!--            ut.user_username,-->
<!--            ut.user_nickname-->
<!--        FROM-->
<!--            store_product_qna_tb qna-->
<!--        JOIN-->
<!--            user_tb ut ON ut.user_id = qna.user_id-->
<!--        WHERE-->
<!--            qna.product_id = #{productId}-->
<!--        ORDER BY-->
<!--            qna.create_date DESC;-->
<!--    </select>-->

    <!--  페이지네이션 조회 -->
    <select id="selectQnaByProductPaged" resultMap="StoreProductQnaMap">
        SELECT
            qna.*,
            ut.user_username,
            ut.user_nickname
            FROM
            store_product_qna_tb qna
        JOIN
            user_tb ut ON ut.user_id = qna.user_id
        WHERE
            qna.product_id = #{productId}
            ORDER BY
        qna.create_date DESC
            LIMIT #{size} OFFSET #{offset};
    </select>

    <!--  전체 문의 개수 -->
    <select id="countQnaByProduct" resultType="int">
        SELECT COUNT(*) FROM store_product_qna_tb WHERE product_id = #{productId};
    </select>

    <!-- 관리자 답변 등록 -->
    <update id="updateAnswer">
        UPDATE
            store_product_qna_tb
        SET
            answer_content = #{answerContent}, answer_date = now()
        WHERE
            qna_id = #{qnaId};
    </update>

    <!-- 문의 삭제 -->
    <delete id="deleteQna">
        DELETE FROM store_product_qna_tb WHERE qna_id = #{qnaId} AND user_id = #{userId};
    </delete>

    <!-- ================= 관리자(Admin) ================= -->

    <!-- 수정 관리자 QnA 목록 -->
    <select id="selectQnAListAdmin" resultMap="StoreProductQnaMap">
        SELECT
        qna.*,
        ut.user_username,
        ut.user_nickname,
        p.product_name
        FROM store_product_qna_tb qna
        LEFT JOIN user_tb ut ON ut.user_id = qna.user_id
        LEFT JOIN store_product_tb p ON p.product_id = qna.product_id
        <if test="productId != null">
            WHERE qna.product_id = #{productId}
        </if>
        ORDER BY qna.create_date DESC
        LIMIT #{offset}, #{size}
    </select>


    <!-- 관리자 QnA 개수 -->
    <select id="countQnAAdmin" resultType="int">
        SELECT COUNT(*)
        FROM store_product_qna_tb
        <if test="productId != null">
            WHERE product_id = #{productId}
        </if>
    </select>

    <!-- 수정 관리자 상세 조회 **** -->
    <select id="selectQnADetailAdmin" resultMap="StoreProductQnaMap">
        SELECT
        qna.*,
        ut.user_username,
        ut.user_nickname,
        p.product_name
        FROM store_product_qna_tb qna
        LEFT JOIN user_tb ut ON ut.user_id = qna.user_id
        LEFT JOIN store_product_tb p ON p.product_id = qna.product_id
        WHERE qna.qna_id = #{qnaId};
    </select>

    <!-- 관리자 답변 등록 -->
    <update id="insertAnswerAdmin">
        UPDATE store_product_qna_tb
        SET
        answer_content = #{answer},
        answer_date = NOW()
        WHERE qna_id = #{qnaId}
    </update>

    <!-- 관리자 답변 수정 -->
    <update id="updateAnswerAdmin">
        UPDATE store_product_qna_tb
        SET
        answer_content = #{answer},
        answer_date = NOW()
        WHERE qna_id = #{qnaId}
    </update>

    <!-- 관리자 삭제 -->
    <delete id="deleteQnAAdmin">
        DELETE FROM store_product_qna_tb
        WHERE qna_id = #{qnaId}
    </delete>


</mapper>
